@model IEnumerable<UUUMod517.Models.Opera>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>
</head>
<body>
    <div> 
        <ul>
            @foreach (var item in Model)
            {
                <ul>@item.Title @item.Composer @item.Year </ul>
            }
        </ul>
    </div>
</body>
</html>
