@model UUUMod517.Controllers.member

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index5</title>
</head>
<body>
    <div> 
        @Model.name
    </div>
</body>
</html>
