
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div>
        <h1>Hello MVC</h1>

        @(ViewData["data"])
        <hr />
        @(ViewBag.data2)
        <hr />
        @(ViewBag.data)
    </div> 
</body>
</html>
